@media only screen and (min-width: 1600px) {
    .headerTextContainer {

        h1,
        span {
            font-size: 5.5rem;
        }
    }
}

@media only screen and (max-width: 1200px) {
    .headerTextContainer {

        h1,
        span {
            font-size: 3rem;
        }
    }

    .portfolioContainer {
        grid-template-columns: 1fr;
    }

    .columnLeft {
        text-align: center;
    }

    .columnRight {
        padding-top: 100px;
    }

    .projectName {
        justify-content: center;
    }

    .footerContact {
        text-align: center;
    }
}

@media only screen and (max-width: 800px) {
    .headerTextContainer {

        h1,
        span {
            font-size: 2rem;
        }
    }

    .portfolioContainer {
        h2 {
            font-size: 2rem;
        }
    }

    .projectName {
        font-size: 1.5rem;

        span {
            font-size: .7rem;
        }
    }

    .footerContact {
        &__header {
            font-size: 1.5rem;
        }

        &__email {
            font-size: 1rem;
            padding-top: 50px;
        }

        &__socials {
            li {
                padding-bottom: 50px;
                font-size: .8rem;
            }
        }
    }

    .footerCopyright {
        font-size: .8rem;
    }
}

@media only screen and (max-width: 530px) {
    nav img {
        height: 30px !important;
        width: auto !important;

    }

    .container {
        padding: 80px 0;
    }

    .headerTextContainer {

        h1,
        span {
            font-size: 1.5rem;
        }
    }

    .portfolioContainer {
        h2 {
            font-size: 1.5rem;

            &::after {
                margin: -16px auto;
                margin-left: 2px;
            }
        }
    }

    .projectName {
        font-size: 1rem;

        span {
            font-size: .5rem;
        }
    }

    .footerContact {
        &__header {
            font-size: 1rem;

            h3::after {
                margin: -15px auto;
                margin-left: 2px;
            }
        }

        &__email {
            font-size: .8rem;
            padding-top: 50px;
        }

        &__socials {
            li {
                padding-bottom: 50px;
                font-size: .6rem;
            }
        }
    }

    .footerCopyright {
        font-size: .6rem;
    }
}

@media only screen and (max-width: 375px) {
    .headerTextContainer {

        h1,
        span {
            font-size: 1rem;
        }
    }

    .portfolioContainer {
        h2 {
            font-size: 1rem;

            &::after {
                margin: -15px auto;
                margin-left: 2px;
            }
        }
    }

    .projectName {
        font-size: .7rem;
    }

    .footerContact {
        &__header {
            font-size: .8rem;

            h3::after {
                margin: -14px auto;
                margin-left: 2px;
            }
        }

        &__email {
            font-size: .6rem;
            padding-top: 25px;
        }

        &__socials {
            li {
                padding-bottom: 25px;
                font-size: .5rem;
            }
        }
    }

    .footerCopyright {
        font-size: .5rem;
    }
}